/* Body background */
body {
    background-color: #222; /* Dark background */
    color: #fff; /* White text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Input and button styles */
input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px;
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text color */
    border: 1px solid #555; /* Darker gray border */
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #0074d9; /* Blue accent color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
}

/* Task list styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    border-bottom: 1px solid #555; /* Darker gray border */
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space evenly between elements */
}

/* Completed task style */
li.completed {
    color: #777; /* Lighter gray text for completed tasks */
    text-decoration: line-through;
}

/* Error message style */
.error {
    color: #ff4136; /* Red accent color for error messages */
    margin: 10px;
}
